<h2 mat-dialog-title>Bearbeiten</h2>
<mat-dialog-content>
    <form #editForm="ngForm">
        <mat-form-field>
            <mat-label>Benutzername</mat-label>
            <input matInput placeholder="Benutzername" name="username" [(ngModel)]="data.username" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>E-Mail</mat-label>
            <input matInput placeholder="E-Mail" name="email" [(ngModel)]="data.email" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" name="name" [(ngModel)]="data.name" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Accountart</mat-label>
            <input matInput placeholder="Accountart" name="role" [(ngModel)]="data.role" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Passwort</mat-label>
            <input matInput placeholder="Passwort" name="password" [(ngModel)]="data.password" required>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="data" color="primary" [disabled]="!editForm.valid">Speichern</button>
</mat-dialog-actions>