<mat-card>
    <mat-card-header>
        <h1>Event erstellen</h1>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="addEventForm" (ngSubmit)="createEvent()">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Datum (YYYY-MM-DD)</mat-label>
                <input matInput formControlName="date">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Eventart</mat-label>
                <input matInput formControlName="type">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Zielgruppe</mat-label>
                <input matInput formControlName="ageRating">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Ticket Preis (EUR)</mat-label>
                <input matInput formControlName="ticketPrice">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Veranstaltungsort</mat-label>
                <input matInput formControlName="location">
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary" type="submit">Event erstellen</button>
            </div>
        </form>
        <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </mat-card-content>
</mat-card>