    <mat-card>
        <mat-card-header>
            <h1>Event bearbeiten</h1>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="addEventForm" (ngSubmit)="updateEvent()">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Date (YYYY-MM-DD)</mat-label>
                    <input matInput formControlName="date">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <input matInput formControlName="type">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Age Rating</mat-label>
                    <input matInput formControlName="ageRating">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Ticket Price (EUR)</mat-label>
                    <input matInput formControlName="ticketPrice">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Location</mat-label>
                    <input matInput formControlName="location">
                </mat-form-field>
                <div>
                    <button mat-raised-button color="primary" type="submit">Edit Event</button>
                    <button mat-button color="warn">Delete Event</button>
                    <a mat-dialog-close mat-raised-button color="accent">Close</a>
                </div>
            </form>
            <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        </mat-card-content>
    </mat-card>